@charset "utf-8";      
.pagination a {
    text-decoration: none;
	border: 1px solid #d9c7a7;
	color: #333;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0 5px;
    margin-left: 3px;
	min-width:30px;
    height:38px;
    line-height:38px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}

.pagination .current {
    background: #a60d0d;
    color: #fff;
	border: 1px solid #8c0b0b;
}

.pagination .current.prev, .pagination .next{
	color:black;
	border-color:#999;
	background:#fff;
    padding:0 24px 0 10px;
}
.pagination .next{background:url(../images/new-bg.png)no-repeat;}
.pagination .next{background-position:-29px -259px;}
.pagination a:hover{border:1px solid black;}
